/* I looked for a table solution and came across this site:
https://html-css-js.com/html/tutorial/html-table.php
Then I used the converter for div tags on the site to generate this css at:
DivTable.com
Then I changed the elements to give me these elements */
thead {
    background-color: beige;
    color: navy;
  }
  .information
  {
      color:red;
      font-weight: 100;
  }
myHeader {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
  }
#para
{
  color: dodgerblue;
}
/* myHeader is from https://www.w3schools.com/htmL/html_id.asp as well as the id tags within each html page */

/* CSS code for TableSort */
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}